
<div class="">
  <div class="row">
    <div class="col-sm-1 d-none d-lg-block d-none">
    </div>
    <div class="col-sm-3 d-none d-lg-block d-none">
      <div id="pdfviewer" style="overflow: scroll;height:500px;">
        <table class="table">
          <thead>
            <tr>
              <th>File</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of pdfFiles; let i = index" [class.active]="i == selectedRow">
              <td>{{file.File}}</td>
              <td>{{file.Date}}</td>
              <td class="btn-group">
                <button type="button" class="btn btn-outline-secondary" (click)="View(file, i)"> View </button>
                <button type="button" class="btn btn-outline-warning" (click)="Delete(file, i)"> Edit </button>
                <button type="button" class="btn btn-outline-danger" (click)="Delete(file, i)"> Delete </button>
              </td>
              <!--<td> <button type="button" class="btn btn-outline-danger" (click)="Delete(file, i)"> Delete </button> </td>-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-7 d-none d-lg-block d-none">
      <pdf-viewer [hidden]="hideElement"
                  [src]="pdfSrc"
                  [render-text]="true"
                  [show-all]="false"
                  [page]="page"
                  [original-size]="false"
                  [autoresize]="true"
                  (after-load-complete)="callBackFunction($event)"
                  style="display:block;outline:#6c757d solid 1px;"></pdf-viewer>
      <br />
      <button [hidden]="hideElement" type="button" class="btn btn-outline-secondary" (click)="Previous()" style="bottom:-6px;position: absolute;left:280px;">
        Previous
      </button>
      <span style="padding-left:370px;">
        <u><input [hidden]="hideElement" [(ngModel)]="page" type="text" id="page" /></u>
        <span [hidden]="hideElement"> of </span>
        {{totalPages}}
        <span [hidden]="hideElement"> pages </span>
      </span>
      <button [hidden]="hideElement" type="button" class="btn btn-outline-secondary" (click)="Next()" style="bottom:-6px;left:504px;position: absolute;">
        Next
      </button>
      <!--<div class="row">
        <button [hidden]="hideElement" type="button" class="btn btn-outline-secondary" (click)="Previous()" style="bottom:-6px;position: absolute;left:312px;">
          Previous
        </button>
        <div style="padding-left:420px;">
          <br />
          <br />
          <br />
          <br />
          <br />
          <u><input [hidden]="hideElement" [(ngModel)]="page" type="text" id="page" /></u>
          <span [hidden]="hideElement"> of </span>
          {{totalPages}}
          <span [hidden]="hideElement"> pages </span>
        </div>
        <button [hidden]="hideElement" type="button" class="btn btn-outline-secondary" (click)="Next()" style="bottom:-6px;left:540px;position: absolute;">
          Next
        </button>
      </div>-->
    </div>
    <div class="col-sm-1 d-none d-lg-block d-none">
    </div>
  </div>
</div>

