<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]='["/gdptlieuquan"]'>
      <img src="../../assets/gdpt.gif" style="width:50px;height:50px;" />
      GDPT Lieu Quan
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="GDPTLieuQuanNavBar" class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/gdptlieuquan"]'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Huynh Truong</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/gdptlieuquan/oanhvu"]'>Oanh Vu Nam & Nu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thieu Nam & Nu</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<br />

<div class="container">
  <h4><strong><u>Phat Phap Courses</u></strong></h4>
  1) So Sanh
  <br />
  2) Mo Mat
  <br />
  3) <a [routerLink]='["/gdptlieuquan/oanhvu/canhmem"]'> Canh Mem </a>
  <br />
  4) Chan Cung
  <br />
  5) Tung Bay
</div>

