



<div class="container" *ngIf="Home">
  <div class="row">
    <div class="col-xl-3">
      <h4>
        <strong><u>Canh Mem Course</u></strong>
        <!--&nbsp; <button type="button" class="btn btn-outline-secondary" *ngIf="IsGoBack" (click)="GoBack()"> Go Back </button>-->
      </h4>

      <div>
        <br />
        &nbsp; &nbsp; &nbsp; &nbsp;<button type="button" class="btn btn-outline-secondary"> Syllabus </button>
        <br />
        <br />
        &nbsp; &nbsp; &nbsp; &nbsp;<button type="button" class="btn btn-outline-secondary"> Grades </button>
        <br />
        <br />
        &nbsp; &nbsp; &nbsp; &nbsp;<button type="button" class="btn btn-outline-secondary" (click)="ViewLecture()"> Lectures </button>
        <br />
      </div>
    </div>
    <div class="col-xl-9">
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button class="btn btn-outline-secondary" (click)="randomize()">Random</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="IsLectures">
  <h4>
    <strong><u>Canh Mem Course</u></strong>
    &nbsp; <button type="button" class="btn btn-outline-secondary" (click)="GoBack()"> Go Back </button>
  </h4>

  <app-GDPTLieuQuan-pdfViewer [course]="course"></app-GDPTLieuQuan-pdfViewer>
</div>

