<ngx-loading-bar></ngx-loading-bar>

<div class="container">

  <div class="btn-group btn-group-toggle">
    <button type="button" class="btn btn-outline-success" (click)="ViewMoMat()">Mở Mắt</button>
    <button type="button" class="btn btn-outline-success" (click)="ViewCanhMem()">Cánh Mềm</button>
    <button type="button" class="btn btn-outline-success" (click)="ViewChanCung()">Chân Cứng</button>
    <button type="button" class="btn btn-outline-success" (click)="ViewTungBay()">Tung Bay</button>
  </div>
</div>


<div *ngIf="IsCanhMem">
  <br />
  <!--<div class="container">
    <input #file type="file" style="width:210px;" (change)="handleFileInput(file.files)" /><button type="button" class="btn btn-outline-secondary" (click)="UploadFile()">Upload</button>
  </div>-->
  <div class="container">
    <br />
    <button type="button" class="btn btn-outline-primary" (click)="CreateUploadFile(UploadFileModal)">Upload File </button>
  </div>
  <br />
  <div class="">
    <div class="row">
      <div class="col-sm-1 d-none d-lg-block d-none">
      </div>
      <div class="col-sm-3 d-none d-lg-block d-none">
        <div id="pdfviewer" style="overflow: scroll;height:500px;">
          <table class="table">
            <thead>
              <tr>
                <th style="position:sticky;top:0;z-index:999;background-color:white;">File</th>
                <th style="position:sticky;top:0;z-index:999;background-color:white;">Date</th>
                <th style="position:sticky;top:0;z-index:999;background-color:white;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of pdfFiles; let i = index" [class.active]="i == selectedRow">
                <td>{{file.File}}</td>
                <td>{{file.Date}}</td>
                <td class="btn-group">
                  <button type="button" class="btn btn-outline-secondary" (click)="View(file, i)"> View </button>
                  <!--<button type="button" class="btn btn-outline-warning" (click)="Delete(file, i)"> Edit </button>
                  <button type="button" class="btn btn-outline-danger" (click)="Delete(file, i)"> Delete </button>-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-7 d-none d-lg-block d-none">
        <pdf-viewer [hidden]="hideElement"
                    [src]="pdfSrc"
                    [render-text]="true"
                    [show-all]="false"
                    [page]="page"
                    [original-size]="false"
                    [autoresize]="true"
                    (after-load-complete)="callBackFunction($event)"
                    style="display:block;outline:#6c757d solid 1px;"></pdf-viewer>
        <br />
        <button [hidden]="hideElement" type="button" class="btn btn-outline-secondary" (click)="Previous()" style="bottom:-6px;position: absolute;left:280px;">
          Previous
        </button>
        <span style="padding-left:370px;">
          <u><input [hidden]="hideElement" [(ngModel)]="page" type="text" id="page" /></u>
          <span [hidden]="hideElement"> of </span>
          {{totalPages}}
          <span [hidden]="hideElement"> pages </span>
        </span>
        <button [hidden]="hideElement" type="button" class="btn btn-outline-secondary" (click)="Next()" style="bottom:-6px;left:504px;position: absolute;">
          Next
        </button>
      </div>
      <div class="col-sm-1 d-none d-lg-block d-none">
      </div>
    </div>
  </div>
</div>


<ng-template #UploadFileModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <label><u>Course</u> (<span style="color:red">Required</span>)</label>
        <!--<input class="form-control" [(ngModel)]="Course" name="Course">-->
        <div class="input-group form-group">
          <select [ngModel]="CourseSelected" class="btn btn-outline-secondary text-dark" name="Course" style="width:200px;">
            <option *ngFor="let item of Courses_View" (click)="onSelectCourse(item)" class="form-control">
              {{item}}
            </option>
          </select>
        </div>

        <label><u>File Name</u> (<span style="color:red">Required</span>)</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="FileName" name="FileName">
        </div>

        <label><u>Date</u> (<span style="color:red">Required</span>)</label>
        <div class="input-group">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"><fa name="calendar"></fa></button>
          </div>
          <input class="form-control" (click)="dp.toggle()" placeholder="yyyy-mm-dd" name="Date" ngbDatepicker #dp="ngbDatepicker" [firstDayOfWeek]="7" [(ngModel)]="Date">
        </div>

        <br />

        <input #file type="file" name="File" style="width:210px;" (change)="handleFileInput(file.files)" />

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="UploadFile()">Upload</button>
    <button type="button" class="btn btn-outline-warning" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
